
.item-fall {
    animation: fallAway forwards 1s ease-out 1;
}


@keyframes fallAway {
    0% {
      transform: rotateZ(0deg);
      top: 0;
      opacity: 1;
    }
    25% {
      transform: rotateZ(-15deg);
    }
    100% {
      top: 300px;
      transform: rotateZ(-5deg);
      opacity: 0;
    }
  }