.search {
    display: flex;
    width: 100vw;
    max-width: 300px;
    border: 1px solid #0002;
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem 0;
    height:3.5rem;
}

@media (min-width: 768px) {
    .search {
        max-width: 50%;
       
     }

}

.search__input {
    width: 600px;
    border: none;
    padding: 0.5rem 1rem;
font-size: medium;
    outline: none;
}

.search__button {
    width: 20%;
    border: 1px solid #0002;
    background-color: rgb(233, 84, 20, 1.2);
    color: white;
}


.search__input::placeholder {
    opacity: .5;
    font-weight: bold;

}