.footer-shared{
display: flex;
background-color: #555;
color: white;
justify-content: center;
align-items: center;
flex-direction: column;
gap:2rem;
padding: 3rem 0;
width: 100%;
}



.container-social-links{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    
    }
    
    
    
    .social-links{
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: rgba(130, 127, 127, 0.751);
        border-radius: 50%;
        font-size: larger;
        }