.App{
margin:0;
padding: 0;
box-sizing: border-box;
min-height: 100vh;
width: 100%;
/* background-image: url("./assets/img/empty-blackboard.jpg") 100% 100% cover; */
background-image: url("./assets/img/empty-blackboard.jpg");
/* filter: brightness(0.33); */
/* background-color: black; */
background-size: cover;
background-position: center;

}

h1{
  font-family: "Tiza Regular";
  font-size: 5rem;
  color: white;
}

@font-face {
  font-family: 'Tiza Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Tiza Regular'), url('/src/fonts/tiza.woff') format('woff');
  }