.input-search {
    width: 300px;
    height: 30px;
    padding: 5px 9px;
    border-radius: 30px;
    box-shadow: 1px 4px 10px #0006;
    border: none;

}


.element-checkbox{
width: 50%;
display: flex;
justify-content: space-evenly;
object-position: center;
gap:1rem;
align-items:center;
margin: 1rem auto;
}


.box-checkbox {
    height: 1rem;
    width: 5rem;
    position: relative;

}

.checkbox {
    -webkit-appearance: none;
    height: 1rem;
    width: 5rem;
    box-shadow: 0 0 3px #0004;
    border-radius: 1rem;
            background-color: rgb(253, 137, 5);
            position: relative;
}

.circle {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: rgb(255, 253, 253);
    box-shadow: 1px 1px 1px 2px #0005;
    position: absolute;
    top: -0.25rem;
    left:0%;
    z-index: 10;
}

.box-checkbox-checked{

    background-color: rgb(38, 21, 148);

}
.circle-checked {
    position: absolute;
    left:70%;
    }