.single-button-pages{
border-radius: 50%;
width: 50px;
height: 50px;
font-size: 1.2rem;
background-color:var(--background-resident-info);
color: white;
display: inline-block;
flex-direction: column;

padding: 15px;
margin: 5px 10px;
}

.single-button-pages:hover{
   background-color: rgba(0,0, 0);
} 