article {
    max-width: 500px;
    height: 202px;
    background-color: var(--background-resident-info);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    margin: 0.5rem 0;
}

.image-resident {
    
    width: 202px;
    height: 202px;

}

.box-info {
    min-width: 300px;
    text-align: left;
    padding: 1rem;
  
}


.box-status__circle {

    display:inline-block;
    height: 19px;
    width: 19px;
    border-radius: 50%;

}

.box-status__text {

    color: var(--text-color-status);
}


.resident-name {
    font-size: 1.1rem;
    color: var(--text-color-resident-data);
    margin-bottom:1rem;


}

.line {
    width: 421px;
    height: 0.5px;
    background-color: var(--line);
    border: 0.5px solid var(--line);
}

.title-info {
   
    color: var(--text-color-resident-info);

}

.title-data {

    color: var(--text-color-resident-data);

}


.color-unknown{

    background-color: gray;
}


.color-alive{
    background-color: green;
    
}


.color-death{

    background-color: brown;
}