article {
    max-width: 500px;
    height: 215px;
    background-color: var(--background-resident-info);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    margin: 0.5rem 0;
}

@media (min-width:768px) {
    .article {
        height: 202px;
        width: 500px;
    }
}






.image-resident {
    
    width: 150px;
    height: 100%;

}
@media (min-width:768px) {
    .image-resident {
    
        width: 202px;
    
    }
}






.box-info {
    min-width: 200px;
    text-align: left;
    padding: 1rem;
  
}

@media (min-width:768px) {
.box-info {
    width: 200px;

  
}
}


.box-status__circle {

    display:inline-block;
    height: 19px;
    width: 19px;
    border-radius: 50%;

}

.box-status__text {

    color: var(--text-color-status);
}


.resident-name {
    display: flex;
    font-size: 1.1rem;
    color: var(--text-color-resident-data);
    margin-bottom:0.5rem;


}

.line {
    width: 421px;
    height: 0.5px;
    background-color: var(--line);
    border: 0.5px solid var(--line);
}

.title-info {
   
    color: var(--text-color-resident-info);

}

.title-data {

    color: var(--text-color-resident-data);

}


.color-unknown{

    background-color: gray;
}


.color-alive{
    background-color: green;
    
}


.color-death{

    background-color: brown;
}

p{
display: flex;
flex-wrap: wrap;

}