article {
    max-width: 537px;
    height: 202px;
    background-color: var(--background-resident-info);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    margin: 0.5rem 0;
}

.image-resident {
    width: 237px;
    height: 202px;

}

.box-info {

    text-align: left;
}


.box-status__cicle {

    background-color: brown;
    height: 19px;
    width: 19px;
    border-radius: 50%;

}

.box-status__text {

    color: var(--text-color-status);
}


.resident-name {

    color: var(--text-color-resident-data);

}

.line {
    width: 421px;
    height: 0.5px;
    background-color: var(--line);
    border: 0.5px solid var(--line);
}

.title-info {
    color: var(--text-color-resident-info);

}

.title-data {

    color: var(--text-color-resident-data);

}