*{
  text-align: center;
  box-sizing: border-box;
}

body{
  box-sizing: inherit;

}

.App{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
min-height: 100vh;
/* background-image: url("https://images.unsplash.com/photo-1610147323479-a7fb11ffd5dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"); */

/* background-image: url("https://images.unsplash.com/photo-1614531341773-3bff8b7cb3fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80"); */
background-repeat: no-repeat;
background-color: lightskyblue;
}

img{
  display: block;
 
  
 
}
