.home {

}
.home__container {

}


.home__container__search {
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__container__cards {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.home__filters {
    display: none;
}

@media (min-width:768px) {
    .home__container {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 0.4fr 1fr;
    }

    .home__container__search {

        grid-area: 1/1/2/6;

    }


    .home__container__cards {
        grid-area: 2/2/2/6;
    }

    .home__filters {
        display: flex;
        grid-area: 2/1/6/2;
        justify-content: center;        
    }

    

}

.home__modal__cart{
    display: none;
}
