.purchases-page {
     width: 100vw;
  

}

.purchases {

    width: 80%;
    margin: 50px auto;
}

.purchases__container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}