.tilting-card-body {
  display: grid;
  place-content: center;
  text-align: center;
  box-shadow: var(--shadow);

}

.mouse-position-tracker {
  position: absolute;
  width: calc(100% / 3);
  height: calc(100% / 3);
  z-index: 2;
}


.mouse-position-tracker:nth-child(3n - 2) {
  left: 0;
}

/* 2nd, 5th, 8th */
.mouse-position-tracker:nth-child(3n - 1) {
  left: calc(100% / 3);
}

/* 2nd, 5th, 8th */
.mouse-position-tracker:nth-child(3n) {
  right: 0;
}

/* 4 to 6 */
.mouse-position-tracker:nth-child(n + 4):nth-child(-n + 6) {
  top: calc(100% / 3);
}

/* 7 to 9 */
.mouse-position-tracker:nth-child(n + 7):nth-child(-n + 9) {
  bottom: 0;
}

.tilting-card-wrapper {
  position: relative;
  width: 250px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  height: 30%;;
}

.tilting-card-body {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.yellow {
  background-image: url("../../assets/img/yellowPaperNote.png");
}

.green {
  background-image: url("../../assets/img/greenPaperNote.png");
}

.blue {
  background-image: url("../../assets/img/bluePaperNote.png");
}

.pink {
  background-image: url("../../assets/img/pinkPaperNote.png");
}


.tilting-card-body> :where(h1, p) {
  padding: 0.2rem;
  margin: 0;
  color: white;
}

.tilting-card-body {
  --perspective: 300px;
  --rotationX: 0;
  --rotationY: 0;
  --rotationZ: 5deg;
  --angle: -5deg;
  transform: perspective(var(--perspective)) rotateX(var(--rotationX)) rotateY(var(--rotationY)) rotateZ(var(--rotationZ));
  transition: transform 500ms ease;
}

.deg5 {
  --rotationZ: 5deg;
}

.deg-5 {
  --rotationZ: -5deg;
}

.deg3 {
  --rotationZ: 3deg;
}

.deg-7 {
  --rotationZ: -7deg;
}




.mouse-position-tracker:nth-child(1):hover~.tilting-card-body {
  --rotationY: calc(var(--angle) * -1);
}

/* modifique el angulo */
.mouse-position-tracker:nth-child(2):hover~.tilting-card-body {
  --rotationX: var(--angle);
}

.mouse-position-tracker:nth-child(3):hover~.tilting-card-body {
  --rotationX: var(--angle);
  --rotationY: var(--angle);
}

.mouse-position-tracker:nth-child(4):hover~.tilting-card-body {
  --rotationY: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(6):hover~.tilting-card-body {
  --rotationX: calc(var(--angle) * -1);

}

.mouse-position-tracker:nth-child(7):hover~.tilting-card-body {
  --rotationY: calc(var(--angle) * -1);
  --rotationX: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(8):hover~.tilting-card-body {
  --rotationX: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(9):hover~.tilting-card-body {
  --rotationX: calc(var(--angle) * -1);
}

.title-card {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 4rem;
  color: rgba(12, 12, 12, 0.619);
}

.title-card__text {
  font-family: 'Qwitcher Grypen', cursive;
  font-weight: 700;
  font-size: 4rem;
  color: rgba(12, 12, 12, 0.619);
}

.card-pin {
  height: 60px;
  width: 60px;
  z-index: 20;
  position: absolute;
  right: -8px;
  top: -10px;
  border-radius: 50%;
  overflow: hidden;
}

.card-pin-image {
  height: 60px;
  width: 60px;
  background-image: url("../../assets/img/bluePin.png");
  background-size: cover;
  z-index: 30;

}